<%- include("header") -%> 

<h2>This is the about page</h2>

<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Beatae iusto quis aspernatur repellat eligendi quod doloribus fuga, quam libero maiores impedit. Iusto delectus esse consectetur facere modi ut quibusdam ullam.</p>

<%- include("footer") -%> 